<div class="col-xs-9">
   <div>
		<h2 class="title-xlarge">
			<%= link_to "映画レビュー >","#" %></h2>
			<p><%= @movie.comments.count %>件のレビュー</p>
			<%= link_to "レビューを書く >",new_movie_comment_path(@movie) %></h2>
			<div class="flex">
			<ol class="slide-menu slide-5 slick-initialized slick-slider">
			<div class="slick-list draggable">
		<% @movie.comments.each do |f| %>
			<%= f.user.name %>  さん　|
			<%= f.created_at.strftime('%Y/%m/%d') %>
			<%= f.title %>
		<% end %>
	</div>
</div>
</div>